@charset "UTF-8";
#mv{
    background: url("../img/top/mv_pc.jpg") no-repeat center center/cover;
    height: 88.6rem;
    position: relative;
}

#mv div{
    position: absolute;
    top: 50%;
    right: 38rem;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 75%);
    padding: .9rem;
    border-radius: 5rem;
}

#mv div h1{
    font-size: 8rem;
    text-align: center;
    font-weight: normal;
    line-height: .6;
    padding: 9rem 11rem 9rem;
    border: solid 2px #DCD0B9;
    border-radius: 4rem;
}

#mv div h1 small{
    font-size: 2rem;
    color: #605F5C;
}

/* top_menu */
.top_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem 7rem;
    box-shadow: 0 .3rem .6rem rgba(0, 0, 0, 16%);
    position: relative;
    z-index: 10;
    background: white;
}

.top_menu .logo{
    font-size: 3rem;
    color: #D8BA87;
    text-align: center;
    line-height: .8;
    margin-left: 7rem;
    transition: all .2s ease-in-out;
}

.top_menu .logo:hover{
    opacity: .5;
    transition: all .3s ease-in-out;
}

.top_menu .logo small{
    font-size: 1rem;
    color: #D8B374;
}

.top_menu nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 102.3rem;
}

.top_menu nav ul li a{
    font-size: 2rem;
    color: #998675;
    transition: all .2s ease-in-out;
}

.top_menu nav ul li a:hover{
    opacity: .3;
    transition: all .3s ease-in-out;
}

#header.fixed{
	position: fixed;/*fixedを設定して固定*/
    z-index: 1000;/*最前面へ*/
    top:0;/*位置指定*/
    left:0;/*位置指定*/
    width: calc(100% - 14rem);
}

/* concept */
#concept{
    background: #FBFBF9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6.5rem 0 4.4rem;
}

#concept h2{
    margin-bottom: 2.3rem;
    color: #998675;
}

#concept h3{
    margin-bottom: 2rem;
}

#concept p{
    margin-bottom: 5rem;
}

.more{
    font-size: 2rem;
    background: white;
    border: solid .1rem #605F5C;
    color: #605F5C;
    padding: 1.6rem 0;
    width: 27.7rem;
    text-align: center;
    border-radius: 5rem;
    position: relative;
    transition: all .2s ease-in-out;
}

.more:hover{
    background: #605F5C;
    color: white;
    transition: all .3s ease-in-out;
}

.more::before{
    position: absolute;
    content: "";
    width: 1.11rem;
    height: 1.8rem;
    top: 50%;
    right: 1.8rem;
    transform: translateY(-50%);
    background: url("../img/top/more_arrow.svg")no-repeat center center/contain;
    transition: all .2s ease-in-out;
}

.more:hover::before{
    background: url("../img/common/arrow-white.svg")no-repeat center center/contain;
    transition: all .3s ease-in-out;
}

/* color */
#color{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4.4rem 0;
}

#color h2{
    color: #998675;
    margin-bottom: 3.5rem;
}

#color div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 6.6rem;
}

#color div a{
    position: relative;
}

#color div a::before{
    position: absolute;
    content: "";
    width: 13.518rem;
    height: 13.518rem;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
    z-index: 10;
}

#color div .mask{
    display: block;
    line-height: 0;
    overflow: hidden;
}

#color div a:first-child::before{
    background: url("../img/top/brown.svg")no-repeat center center/contain;
}

#color div a:nth-child(2)::before{
    background: url("../img/top/dark_brown.svg")no-repeat center center/contain;
}

#color div a:last-child::before{
    background: url("../img/top/black.svg")no-repeat center center/contain;
}

#color div .mask img{
    width: 61.4rem;
    transition: all .2s ease-in-out;
    transform: scale(1);
}

#color div a:hover img{
    transform: scale(1.08);
    opacity: .8;
    transition: all .3s ease-in-out;
}

/* menu */
#menu{
    background: #FBFBF9;
    padding: 4.7rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#menu h2{
    margin-bottom: 4rem;
    color: #998675;
}

#menu div{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 6.6rem;
}

#menu div a{
    width: 45rem;
    text-align: center;
    transition: all .2s ease-in-out;
}

#menu div a:hover{
    opacity: .5;
    transition: all .3s ease-in-out;
}

#menu div a p:first-child{
    color: #605F5C;
    background: #FFFCF2;
    font-size: 2rem;
    padding: 2.9rem 0 1.8rem;
}

#menu div a p:last-child{
    color: #837963;
    background: #F9F5E9;
    font-size: 3.6rem;
    padding: 2.2rem 0 2.1rem;
}

#menu div a p:last-child small{
    font-size: 1.6rem;
}

main .wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 75%;
    margin: auto;
    padding: 4rem 0 6.6rem;
}

#info{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .wrap h2{
    color: #998675;
    margin-bottom: 4rem;
}

#info img{
    width: 100%;
    margin-bottom: 3.1rem;
}

#info .content{
    width: 85%;
    margin-bottom: 8.7rem;
}

#info .content h3{
    margin-bottom: 2.8rem;
    color: #707070;
}

#info .content p{
    font-size: 1.8rem;
    color: #707070;
}

#info .content p a{
    color: #707070;
    transition: all .2s ease-in-out;
}

#info .content p a:hover{
    opacity: .5;
    transition: all .3s ease-in-out;
}

#info .content p small{
    font-size: 1.6rem;
}

#info .content > p+p{
    margin-top: 2.2rem;
}

#info .content div{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1.9rem;
}

#info .more{
    padding: 1.15rem 0;
}

#info .cta{
    margin-top: 2.6rem;
}

/* insta */
#insta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#insta div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 61.26rem;
    margin: 0 auto 5.5rem;
}

#insta div img{
    width: 25rem;
}

#insta div img:first-child, #insta div img:nth-child(2){
    margin-bottom: 4.4rem;
}

@media screen and (max-width: 767px){
    main{
        margin-top: 5.5rem;
    }

    #mv{
        height: calc(100vh - 7.5rem);
        background: url("../img/top/mv_sp.jpg")no-repeat center center/cover;
        overflow: hidden;
    }

    #mv div{
        right: unset;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #mv div h1{
        font-size: 4.5rem;
        padding: 5rem 6.54rem;
        width: max-content;
    }

    #mv div h1 small{
        font-size: 1.6rem;
    }

    #mv .cta{
        display: block;
        position: absolute;
        top: 70%;
        left: 50%;
        width: 27rem;
        transform: translate(-50%, -50%);
    }

    #mv .scroll{
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #mv .scroll img{
        width: 1.65rem;
    }

    #mv .scroll p{
        color: black;
        font-size: 1.2rem;
        position: relative;
    }

    #mv .scroll p::before{
        content: "";
        position: absolute;
        bottom: -4.5rem;
        left: 50%;
        transform: translateX(-50%) rotateZ(90deg);
        border-bottom: dashed .1rem black;
        width: 9rem;
        height: .1rem;
    }

    #concept{
        padding: 2.4rem 0 2.2rem;
    }

    #concept h2{
        margin-bottom: 1.2rem;
    }

    #concept h3{
        margin-bottom: 1.3rem;
    }

    #concept p{
        width: 85.33%;
        min-width: 320px;
        margin: auto;
        text-align: center;
        margin-bottom: 2.3rem;
    }

    .more{
        font-size: 1.6rem;
        padding: 1.2rem 0;
    }

    #color{
        padding: 1.5rem 0;
    }

    #color h2{
        margin-bottom: 1.5rem;
    }

    #color div{
        flex-direction: column;
        margin-bottom: 2.2rem;
    }

    #color div .mask img{
        height: 15rem;
        width: 100%;
    }

    #color div a::before{
        width: 10.364rem;
        height: 10.364rem;
        bottom: unset;
        top: 50%;
        right: unset;
        transform: translateY(-50%);
        z-index: 10;
    }

    #color div a:first-child::before, #color div a:last-child::before{
        left: 2.8rem;
    }

    #color div a:nth-child(2){
        margin: 1rem 0;
    }

    #color div a:nth-child(2)::before{
        right: 2.8rem;
    }

    #menu{
        padding: 1.5rem 0 1.7rem;
    }

    #menu h2{
        margin-bottom: 1.5rem;
    }

    #menu div{
        flex-direction: column;
        width: 85.33%;
        min-width: 320px;
        margin-bottom: 2.3rem;
    }

    #menu div a{
        width: 100%;
    }

    #menu div a p:first-child{
        font-size: 1.6rem;
        padding: 1.7rem 0;
    }

    #menu div a p:last-child{
        font-size: 2rem;
        padding: 2.3rem 0;
    }

    #menu div a p:last-child small{
        font-size: 1.2rem;
    }

    main .wrap{
        flex-direction: column-reverse;
        width: 100%;
        padding: 1rem 0 0;
    }

    #insta{
        width: 100%;
        width: 85.33%;
        min-width: 320px;
        margin: 0 auto 2.3rem;
    }

    #insta div{
        width: 85.33%;
        min-width: 320px;
        margin-bottom: 2rem;
    }

    #insta div img{
        width: 13rem;
    }

    #insta div img:first-child, #insta div img:nth-child(2){
        margin-bottom: 1.55rem;
    }

    main .wrap h2{
        margin-bottom: 1.4rem;
    }

    #info{
        width: 100%;
        background: #FBFBF9;
        padding: 1.3rem 0 2.8rem;
    }

    #info .content{
        width: 85.33%;
        min-width: 320px;
        margin-bottom: 2.3rem;
    }

    #info .content h3{
        font-size: 2rem;
        margin-bottom: 1.1rem;
    }

    #info .content p{
        font-size: 1.6rem;
    }

    #info .content > p+p{
        margin-top: 1.3rem;
    }

    #info .content div{
        flex-direction: column;
    }
}